California[[:space:]]Median[[:space:]]Housing[[:space:]]Values[[:space:]]by[[:space:]]Census[[:space:]]Tract[[:space:]](Predicted).html filter=lfs diff=lfs merge=lfs -text
Percent[[:space:]]Error.html filter=lfs diff=lfs merge=lfs -text
Residual[[:space:]]Error.html filter=lfs diff=lfs merge=lfs -text
True[[:space:]]California[[:space:]]Median[[:space:]]Housing[[:space:]]Values[[:space:]]by[[:space:]]Census[[:space:]]Tract.html filter=lfs diff=lfs merge=lfs -text
